<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Dashboard</title>

  <%- include("./component/lib/header.ejs") %>
</head>
<body>
    <!--Main Navigation-->
    <%- include("./component/navigation.ejs", { select: "dashboard" }) %>
    <!--Main Navigation-->
  
    <!--Main layout-->
    <main style="margin-top: 58px">
      <div class="container pt-4">
        <img src="img/store.png">
      </div>
    </main>
    <!--Main layout-->
    <%- include("./component/lib/footer.ejs") %>
</body>

</html>